<div
        data-ng-if="!detailsFound"
        class="sc-empty-resource-list-box">
    <p style="text-align: center">{{'repo.creds.not.found' | translate}}</p>
</div>
<div
        data-http-loader
        class="sc-data-loading">
    <p
            style="text-align: center"
            class="sc-vertical-middle-div">{{'data.loading' | translate}}</p>
</div>
<div
        class="sc-resource"
        data-ng-if="detailsFound"
        style="height: 100%;">
    <form
            id="credentialsForm"
            name="credentialsForm"
            class="sc-layout-full-height ng-pristine ng-valid ng-valid-required ng-vaid-maxlength"
            novalidate>
        <div class="no-margin sc-details-page-title-panel">
            <div class="sc-details-page-back-btn-div ">
                <button
                        class="sc-details-page-back-btn btn btn-default"
                        type="button"
                        data-ng-click="backToCredentialsList(credentialsForm)">
                    <i
                            class="fa fa-arrow-left"
                            data-ng-class=""> </i>
                </button>
            </div>
            <div class="sc-details-page-title">
                <div class="sc-vertical-middle-div">
                    <p
                            class="sc-details-page-edit-text"
                            data-ng-if="executionWindowID !='create'">{{"edit.label" | translate}}</p>
                    <p
                            class="sc-details-page-edit-text"
                            data-ng-if="executionWindowID =='create'">{{"create.label" | translate}}</p>
                    <p class="sc-details-page-edit-subject">{{credentials.name}}</p>
                </div>
            </div>

            <div class="sc-details-page-btn-div">
                <a
                        class="btn btn-default sc-details-page-discard-btn"
                        data-ng-click="discardChanges(credentialsForm)">{{"button.discard" | translate}} </a>
                <a
                        class="btn btn-default sc-btn-save-page"
                        data-ng-click="saveForm(credentialsForm)">{{"button.save" | translate}} </a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sc-details-page-bottom-panel">
            <div class="sc-details-page-summary-div">
                <a
                        href=""
                        data-ng-click="scrollTo('nameHeading')">
                    <div
                            class="sc-details-page-summary-row"
                            data-ng-class="{'sc-details-page-summary-row-selected':isActive('credentialName')}">
                        <label> {{"this.label" | translate}} {{'repository.credential.summary.label' |
                            translate}}</label>
                        <div class="wrapper">
							<span
                                    ng-hide="credential.name.length"
                                    class="sc-details-page-summary-content">{{'repository.credentials.summary.name.alt' | translate}} </span>
                            <span
                                    class="sc-details-page-summary-content"
                                    ng-show="credential.name.length"> {{credential.name}}</span>
                        </div>
                    </div>
                </a>
                <a
                        href=""
                        data-ng-click="scrollTo('usernameHeading')">
                    <div
                            class="sc-details-page-summary-row"
                            data-ng-class="{'sc-details-page-summary-row-selected':isActive('credentialUsername')}">
                        <label> {{'contains.label' | translate}} {{'user.label.lowercase' | translate}}</label>
                        <div class="wrapper">
							<span
                                    ng-hide="credential.username.length"
                                    class="sc-details-page-summary-content">{{'repository.credentials.summary.username.alt' | translate}} </span>
                            <span
                                    class="sc-details-page-summary-content"
                                    ng-show="credential.username.length"> {{credential.username}}</span>
                        </div>
                    </div>
                </a>
                <a
                        href=""
                        data-ng-click="scrollTo('domainHeading')">
                    <div
                            class="sc-details-page-summary-row"
                            data-ng-class="{'sc-details-page-summary-row-selected':isActive('credentialDomain')}">
                        <label> {{'from.label' | translate}} {{'domain.label' | translate}}</label>
                        <div class="wrapper">
							<span
                                    ng-hide="credential.domain.length"
                                    class="sc-details-page-summary-content">{{'repository.credentials.summary.domain.alt' | translate}} </span>
                            <span
                                    class="sc-details-page-summary-content"
                                    ng-show="credential.domain.length"> {{credential.domain}}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sc-details-page-editor-div">
                <div
                        id="pageTitle"
                        class="sc-details-page-editor-title">
                    <span class="sc-details-page-title-underline"> {{"repository.credentials.info.label" | translate}}</span>
                </div>
                <div class="sc-details-page-editor-info">

                    <!-- Credential Name -->
                    <div class="sc-details-page-editor-data">
                        <label id="nameHeading" for="credentialName">{{"repository.credentials.editor.name.label" |
                            translate}}</label>
                        <input
                                id="credentialName"
                                type="text"
                                class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
                                placeholder="{{'repository.credentials.editor.name.place.holder' | translate}}"
                                data-ng-model="credential.name"
                                name="credentialName"
                                autocomplete="off"
                                required
                                maxlength="100"/>
                        <div
                                class="sc-validation-block"
                                ng-messages="credentialsForm.credentialName.$error"
                                ng-if="credentialsForm.credentialName.$touched">
                            <p ng-message="required">{{"repository.credentials.editor.name.validation.required" |
                                translate}}</p>
                        </div>
                    </div>

                    <!-- Credential Domain Name -->
                    <div class="sc-details-page-editor-data">
                        <label id="domainHeading" for="credentialDomain">{{"repository.credentials.editor.domain.label"
                            | translate}}</label>
                        <input
                                id="credentialDomain"
                                class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
                                placeholder="{{'repository.credentials.editor.domain.place.holder' | translate}}"
                                data-ng-model="credential.domain"
                                name="credentialDomain"
                                autocomplete="off"
                                required
                                maxlength="100">
                        <div
                                class="sc-validation-block"
                                ng-messages="credentialsForm.credentialDomain.$error"
                                ng-if="credentialsForm.credentialDomain.$touched">
                            <p ng-message="required">{{"repository.credentials.editor.domain.name.validation.required" |
                                translate}}</p>
                        </div>
                    </div>

                    <!-- Credential Username -->
                    <div class="sc-details-page-editor-data">
                        <label id="usernameHeading" for="credentialUsername">{{"repository.credentials.editor.username.label"
                            | translate}}</label>
                        <input
                                id="credentialUsername"
                                type="text"
                                class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
                                placeholder="{{'repository.credentials.editor.username.place.holder' | translate}}"
                                data-ng-model="credential.username"
                                name="credentialUsername"
                                autocomplete="off"
                                required
                                maxlength="100">
                        <div
                                class="sc-validation-block"
                                ng-messages="credentialsForm.credentialUsername.$error"
                                ng-if="credentialsForm.credentialUsername.$touched">
                            <p ng-message="required">{{"repository.credentials.editor.username.validation.required" |
                                translate}}</p>
                        </div>
                    </div>

                    <!-- Credential Password -->
                    <div class="sc-details-page-editor-data">
                        <div>
                            <label id="passwordHeading">{{"repository.credentials.editor.password.label" |
                                translate}}</label>
                            <input
                                    id="credentialPassword"
                                    data-ng-if="inputTypePassword"
                                    type="password"
                                    class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
                                    placeholder="{{'repository.credentials.editor.password.place.holder' | translate}}"
                                    data-ng-model="credential.password"
                                    name="credentialPassword"
                                    autocomplete="off"
                                    required
                                    maxlength="100"/>
                            <input
                                    id="credentialPasswordInText"
                                    data-ng-if="!inputTypePassword"
                                    type="text"
                                    class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
                                    placeholder="{{'repository.credentials.editor.password.place.holder' | translate}}"
                                    data-ng-model="credential.password"
                                    name="credentialPasswordInText"
                                    autocomplete="off"
                                    required
                                    maxlength="100"/>
                            <div>
                                <input
                                        type="checkbox"
                                        id="checkbox"
                                        style="display: inline"
                                        ng-model="passwordCheckbox"
                                        ng-click="hideShowPassword()"/>
                                <label
                                        for="checkbox"
                                        style="display: inline"
                                        ng-if="passwordCheckbox">Hide password</label>
                                <label
                                        for="checkbox"
                                        style="display: inline"
                                        ng-if="!passwordCheckbox">Show password</label>
                            </div>
                            <div
                                    class="sc-validation-block"
                                    ng-messages="credentialsForm.credentialPassword.$error"
                                    ng-if="inputTypePassword && credentialsForm.credentialPassword.$touched">
                                <p ng-message="required">{{"repository.credentials.editor.password.validation.required"
                                    | translate}}</p>
                            </div>
                            <div
                                    class="sc-validation-block"
                                    ng-messages="credentialsForm.credentialPasswordInText.$error"
                                    ng-if="!inputTypePassword && credentialsForm.credentialPasswordInText.$touched">
                                <p ng-message="required">{{"repository.credentials.editor.password.validation.required"
                                    | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>