<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/SmartClassifier</property>
		<property name="hibernate.dialect">com.nextlabs.tomcat.hibernate.SQLServerDialectOverrider</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		 -->
		 
		<!-- Mapping with model class containing annotations -->
		<mapping class="com.nextlabs.smartclassifier.database.entity.Action"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ActionParam"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ActionPlugin"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ActionPluginParam"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.AuthenticationHandler"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Criteria"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.CriteriaGroup"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.DataProvider"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.DocumentExtractor"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.DocumentRecord"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.DocumentSizeLimit"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.DocumentTypeAssociation"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.EventLog"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ExcludeRepoFolder"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ExecutionTimeSlot"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ExecutionWindow"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ExecutionWindowAssociation"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ExecutionWindowSet"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Extractor"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Heartbeat"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.JMSProfile"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.MetadataField"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.RepoFolder"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Report"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ReportExecution"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ReportFilter"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ReportFilterGroup"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ReportRecipient"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.ReportSchedule"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Rule"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.RuleEngine"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.RuleExecution"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.RuleHistory"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.SourceAuthentication"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.SystemConfigGroup"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.SystemConfig"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.User"/>
		<mapping class="com.nextlabs.smartclassifier.database.entity.Watcher"/>
	</session-factory>
</hibernate-configuration>