<div class="sc-resource" style="height: 100%">
	<form id="changePasswordForm"
			class="sc-layout-full-height ng-pristine ng-valid ng-valid-required ng-vaid-maxlength"
			novalidate="" name="changePasswordForm">
		<div class="no-margin sc-details-page-title-panel">
			<div class="sc-details-page-title">
				<div class="sc-vertical-middle-div">
					<p class="sc-details-page-edit-text">{{"change.password.label" | translate}}</p>
				</div>
			</div>
			<div class="sc-details-page-btn-div">
				<a class="btn btn-default sc-btn-save-page"
					data-ng-click="savePasswordChanges(changePasswordForm)">
						{{"button.submit" | translate}}
				</a>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="sc-details-page-bottom-panel">
			<div class="sc-details-full-page-editor-div">
				<div id="changePassword" class="sc-details-page-editor-title">
					<span class="sc-details-page-title-underline">
						{{"password.label" | translate}}
					</span>
				</div>
				<div class="sc-details-page-editor-info">
					<div class="sc-details-page-editor-data">
						<input type="password" id="oldPassword"
							class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
							placeholder="{{'change.password.editor.old.password.place.holder' | translate}}"
							data-ng-model="userInfo.password" name="oldPassword" required
							ng-maxlength="12" max-length="12"/>
						<div class="sc-validation-block"
							ng-messages="changePasswordForm.oldPassword.$error"
							ng-if="changePasswordForm.oldPassword.$touched">
							<p ng-message="maxlength">
								{{"change.password.old.password.validation.maxLength" | translate}}
							</p>
							<p ng-message="required">
								{{"change.password.old.password.validation.required" | translate}}
							</p>
						</div>
					</div>
					<div class="sc-details-page-editor-data">
						<input type="password" id="newPassword"
							class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
							placeholder="{{'change.password.editor.new.password.place.holder' | translate}}"
							data-ng-model="userInfo.newPassword" name="newPassword" required ng-pattern="passwordRegex" 
							data-ng-minlength="7" data-ng-maxlength="12" max-length="12"
							data-ng-change="checkPasswordChanged(); checkPasswordMatching();"/>
						<div class="sc-validation-block"
							ng-messages="changePasswordForm.newPassword.$error"
							ng-if="changePasswordForm.newPassword.$touched">
							<p ng-message="pattern">
								{{"change.password.new.password.validation.pattern" | translate}}
							</p>
							<p ng-message="minlength">
								{{"change.password.new.password.validation.minLength" | translate}}
							</p>
							<p ng-message="maxlength">
								{{"change.password.new.password.validation.maxLength" | translate}}
							</p>
							<p ng-message="required">
								{{"change.password.new.password.validation.required" | translate}}
							</p>
							<p ng-if="!passwordChanged" class="ng-binding ng-scope">
								{{"change.password.new.password.same.with.old" | translate}}
							</p>
						</div>
					</div>
					<div class="sc-details-page-editor-data">
						<input type="password" id="confirmNewPassword"
							class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
							placeholder="{{'change.password.editor.confirm.new.password.place.holder' | translate}}"
							data-ng-model="userInfo.confirmNewPassword" name="confirmNewPassword" required ng-pattern="passwordRegex" 
							data-ng-minlength="7" data-ng-maxlength="12" max-length="12"
							data-ng-change="checkPasswordChanged(); checkPasswordMatching();"/>
						<div class="sc-validation-block"
							ng-messages="changePasswordForm.confirmNewPassword.$error"
							ng-if="changePasswordForm.confirmNewPassword.$touched">
							<p ng-message="pattern">
								{{"change.password.confirm.new.password.validation.pattern" | translate}}
							</p>
							<p ng-message="minlength">
								{{"change.password.confirm.new.password.validation.minLength" | translate}}
							</p>
							<p ng-message="maxlength">
								{{"change.password.confirm.new.password.validation.maxLength" | translate}}
							</p>
							<p ng-message="required">
								{{"change.password.confirm.new.password.validation.required" | translate}}
							</p>
							<p ng-if="!passwordMatching" class="ng-binding ng-scope">
								{{"change.password.new.password.validation.mismatch" | translate}}
							</p>
						</div>
					</div>
					<div class="sc-details-page-editor-data">
						<div>
							<label class="center-inline">{{"change.password.footnote" | translate}}</label>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</form>
</div>
