<div
	data-ng-controller="extractorController"
	class="sc-layout-full-height">

	<div class="sc-details-page-summary-div">
		<a
			href=""
			data-ng-click="scrollTo('extractorInfo')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('extractorInfo')}">
				<label for="extractorInfo"> {{"this.label" | translate}} {{'extractor.label'|translate}}</label>
				<div class="wrapper">
					<span
						ng-hide="service.name.length"
						class="sc-details-page-summary-content">{{'extractor.summary.extractor.name.alt' | translate}}> </span>
					<span
						class="sc-details-page-summary-content"
						ng-show="service.name.length"> {{service.name}}</span>
				</div>
			</div>
		</a>
		<a
			href=""
			data-ng-click="scrollTo('hostName')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('hostName')}">
				<label for="hostName"> {{'on.label' | translate}}</label>
				<div class="wrapper">
					<span
						ng-hide="service.hostname.length"
						class="sc-details-page-summary-content">({{'extractor.summary.extractor.hostname.alt' | translate}}) </span>
					<span
						class="sc-details-page-summary-content"
						ng-show="service.hostname.length"> {{service.hostname}}</span>
				</div>
			</div>
		</a>
		<a
			href=""
			data-ng-click="scrollTo('fileTypes')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('fileTypes')}">
				<label for="fileTypes"> {{"extractor.summary.file.extensions.label" | translate}} </label>
				<div class="wrapper">
					<span
						ng-hide="service.documentSizeLimits.length > 0"
						class="sc-details-page-summary-content"><{{'component.summary.component.file.extn.alt' | translate}}> </span>
					<span
						ng-show="service.documentSizeLimits.length > 0"
						class="sc-details-page-summary-content"
						data-ng-repeat="documentAssociation in service.documentSizeLimits | orderBy:['documentAssociation.maxFileSize', 'documentExtractor.extension']">
						{{ ( $index < (service.documentSizeLimits.length-1) ? ((documentAssociation.maxFileSize > 0) ?
						documentAssociation.documentExtractor.extension + " (" + documentAssociation.maxFileSize +" MB), " : "") :
						((documentAssociation.maxFileSize > 0) ? documentAssociation.documentExtractor.extension + "(" +
						documentAssociation.maxFileSize +" MB)" : "")) }} </span>
				</div>
			</div>
		</a>
		<a
			href=""
			data-ng-click="scrollTo('fileTypeAddendum')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('fileTypeAddendum')}">
				<label for="fileTypes"> {{"extractor.summary.remaining.extension.label" | translate}} </label>
			</div>
		</a>
		<a
			href=""
			data-ng-click="scrollTo('executionWindow')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('executionWindow')}">
				<label for="executionWindow"> {{"using.label" | translate}} {{"execution.windows.label" | translate}}</label>
				<div class="wrapper">
					<span
						ng-hide="service.executionWindowSets.length > 0"
						class="sc-details-page-summary-content"><{{'component.summary.component.execution.windows.alt' |
						translate}}> </span>
					<span
						ng-show="service.executionWindowSets.length > 0"
						class="sc-details-page-summary-content"
						data-ng-repeat="executionWindow in service.executionWindowSets"> {{executionWindow.name + (($index <
						service.executionWindowSets.length-1) ? ", " : "")}} </span>
				</div>
			</div>
		</a>
		<a
			href=""
			data-ng-click="scrollTo('sync')">
			<div
				class="sc-details-page-summary-row"
				data-ng-class="{'sc-details-page-summary-row-selected':isActive('sync')}">
				<label for="sync"> {{"component.summary.conf.reload.label" | translate}}</label>
				<div
					class="wrapper"
					data-ng-show="serviceTempObject.configReloadIntervalTemp">
					<span> {{serviceTempObject.configReloadIntervalTemp}}</span>
					<span>{{ serviceTempObject.configReloadIntervalUnit + '.label' | translate}}</span>
				</div>

				<div>
					<span
						data-ng-hide="serviceTempObject.configReloadIntervalTemp"
						class="sc-details-page-summary-content"><{{'component.summary.interval.alt' | translate}}> </span>
				</div>
			</div>
		</a>
	</div>

	<div class="sc-details-page-editor-div">

		<div
			id="extractorInfo"
			class="sc-details-page-editor-title">
			<span class="sc-details-page-title-underline"> {{"extractor.editor.extractor.info.label" | translate}}</span>
		</div>

		<div class="sc-details-page-editor-info">
			<div class="sc-details-page-editor-data">
				<label for="name">{{"component.editor.name.label" | translate}}</label>
				<input
					id="name"
					class="sc-details-page-editor-input-placeholder sc-details-page-editor-data-right sc-details-page-common-input"
					placeholder="{{'extractor.editor.name.place.holder' | translate}}"
					data-ng-model="service.name"
					name="extractorName"
					required
					ng-maxlength="100"
					max-length="100">
				<div
					class="sc-validation-block"
					ng-messages="serviceDetailsForm.extractorName.$error"
					ng-if="serviceDetailsForm.extractorName.$touched">
					<p ng-message="maxlength">{{"extractor.editor.name.validation.max.length" | translate}}</p>
					<p ng-message="required">{{"extractor.editor.name.validation.required" | translate}}</p>
				</div>
			</div>

			<div
				id="hostName"
				class="sc-details-page-editor-data">
				<label for="hostname">{{"component.editor.hostname.label" | translate}}</label>
				<p>{{service.hostname}}</p>
			</div>

			<div class="sc-details-page-editor-data">
				<label for="jmsProfile">{{"component.editor.jmsProfile.label" | translate}}</label>
				<div
					id="jmsProfile"
					class="sc-details-page-editor-data-right btn-group btn-block"
					data-uib-dropdown>
					<button
						class="form-control sc-button-common"
						id=""
						type="button"
						data-uib-dropdown-toggle
						ng-disabled="disabled">
						<span class="sc-dropdown-btn-label">{{service.JMSProfile.displayName}}</span>
						<span class="sc-dropdown-btn-expand-icon"></span>
					</button>
					<ul
						class="uib-dropdown-menu sc-dropdown-menu"
						role="menu"
						aria-labelledby="">
						<li
							role="menuitem"
							data-ng-repeat="jmsProfile in jmsList"
							data-ng-click="changeJMSProfile(jmsProfile)"
							class="sc-clickable-dropdown">{{jmsProfile.displayName}}</li>
					</ul>
				</div>
			</div>

			<div class="sc-details-page-editor-data">
				<label for="extractor-thread-count">{{"extractor.editor.threadcount.label" | translate}}</label>
				<div
					id="extractor-thread-count"
					numeric="{min:1,max:16}"
					class="sc-number-input-sm sc-details-page-common-input"
					name="extractorThreadCount"
					data-ng-model="service.documentExtractorCount"
					required></div>

				<div
					class="sc-validation-block"
					ng-messages="serviceDetailsForm.extractorThreadCount.$error"
					ng-if="serviceDetailsForm.extractorThreadCount.$touched">
					<p ng-message="required">{{"extractor.editor.threadcount.validation.required" | translate}}</p>
				</div>
			</div>

			<div class="sc-details-page-editor-data">
				<label for="heapSize">{{"extractor.minimum.heap.memory.size" | translate}}</label>
				<div
					id="heapSize"
					class="sc-details-page-editor-data-right-small btn-group btn-block"
					data-uib-dropdown>
					<button
						class="form-control sc-button-common"
						id=""
						type="button"
						data-uib-dropdown-toggle
						ng-disabled="disabled">
						<span class="sc-dropdown-btn-label">{{service.minimumHeapMemory}}</span>
						<span class="sc-dropdown-btn-expand-icon"></span>
					</button>
					<ul
						class="uib-dropdown-menu sc-dropdown-menu"
						role="menu"
						aria-labelledby="">
						<li
							role="menuitem"
							data-ng-repeat="heapMemory in heapMemoryList"
							data-ng-click="changeHeapMemory(heapMemory)"
							class="sc-clickable-dropdown">{{heapMemory}}</li>
					</ul>
				</div>
			</div>
		</div>

		<div
			id="executionWindow"
			class="sc-details-page-editor-title">
			<span class="sc-details-page-title-underline"> {{"component.editor.executionwindow.heading" | translate}}</span>
		</div>

		<div class="sc-details-page-editor-info">
			<div class="sc-details-page-editor-data">
				<label
					for="executionWindows"
					data-ng-if="!service.executionWindowSets.length"
					class="sc-details-page-editor-subheading">{{"component.editor.executionwindow.subheading.empty" |
					translate}}</label>
				<label
					for="executionWindows"
					data-ng-if="service.executionWindowSets.length"
					class="sc-details-page-editor-subheading">{{"component.editor.executionwindow.subheading" | translate}}</label>
				<div>
					<div data-ng-repeat="(index, executionWindow) in service.executionWindowSets">
						<div
							data-ng-class="getExecutionWindowRowClass(index)"
							class="sc-details-page-editor-data-right sc-data-list-row">
							<table style="width: 100%">
								<tr>
									<td width="92%">
										<div class="sc-inline">
											<div>{{executionWindow.name}}</div>
											<div class="sc-grey-text-on-table">{{returnScheduleString(executionWindow)}}</div>
										</div>
									</td>
									<td width=" 8%">
										<div
											class="sc-component-option-block fa fa-trash-o sc-bigger-icon sc-inline"
											data-ng-click="removeExecutionWindow(index)"></div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="sc-details-page-editor-data-right sc-execution-window-add">
					<div
						id="executionWindows"
						class="sc-full-width"
						data-uib-dropdown>

						<button
							class="form-control sc-button-common"
							id="executionWindowDropDown"
							type="button"
							data-uib-dropdown-toggle
							ng-disabled="disabled">
							<span class="sc-dropdown-btn-label">{{selectedExecutionWindowName}}</span>
							<span class="sc-dropdown-btn-expand-icon" />
						</button>
						<ul
							class="uib-dropdown-menu sc-dropdown-menu"
							role="menu"
							aria-labelledby="">
							<li
								role="menuitem"
								data-ng-if="!serviceTempObject.associatedExecutionWindowSetsMap[executionWindow.id]"
								data-ng-repeat="executionWindow in executionWindowCollection"
								data-ng-click="addToExecutionWindowList(executionWindow)"
								class="sc-clickable-dropdown">
								<div>{{executionWindow.name}}</div>
								<div class="sc-grey-text-on-table">{{returnScheduleString(executionWindow)}}</div>
							</li>
							<div
								class="sc-horizontal-center-div"
								data-ng-if="checkEmptyExecutionWindowList()">{{'empty.list.msg'|translate}}</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div
			id="fileTypes"
			class="sc-details-page-editor-title">
			<span class="sc-details-page-title-underline"> {{"file.extension.label.caps" | translate}}</span>
		</div>

		<div class="sc-details-page-editor-info">
			<div class="sc-details-page-editor-data">
				<label class="sc-details-page-editor-subheading">{{"extractor.editor.filetypes.note" | translate}}</label>
				<div
					class="sc-details-page-editor-extractorswitch"
					data-ng-repeat="documentType in service.documentSizeLimits | orderBy:'documentExtractor.extension'">
					<div data-ng-if="documentType.maxFileSize > 0">
						<div class="sc-inline sc-details-page-documentType-block">
							<!-- <span class="sc-policy-status-switch"> <switch
								class="sc-switch"
								data-ng-model="mapDocumentTypeAssociation[documentType.extension]"
								data-ng-change="updateDocumentTypeAssociation(documentType.extension,mapDocumentTypeAssociation[documentType.extension])">
							</switch>
						</span> -->
							<span class="sc-inline">{{documentType.documentExtractor.extension}} </span>
						</div>
						<div
							id="maximum-file-size"
							name="maximum-file-size"
							numeric="{min:1,max:25}"
							class="sc-number-input-sm sc-inline"
							name="maximumFileSize"
							data-ng-model="documentType.maxFileSize"
							required></div>
						<span class="sc-inline sc-label-margin-left-sm">{{"component.editor.MB.label" | translate}}</span>
					</div>
				</div>
				<label
					id="fileTypeAddendum"
					class="sc-details-page-editor-footernote">{{"extractor.editor.filetypes.addendum" | translate}}</label>
			</div>
		</div>

		<div
			id="sync"
			class="sc-details-page-editor-title">
			<span class="sc-details-page-title-underline"> {{"config.reload.label" | translate}}</span>
		</div>
		<div class="sc-details-page-editor-info">
			<div class="sc-details-page-editor-data">
				<div
					class="wrapper"
					id="configuration-reload-interval">
					<div
						numeric="{min:5}"
						class="sc-number-input-sm sc-details-page-common-input sc-inline"
						name="configurationReloadInterval"
						required
						data-ng-show="serviceTempObject.configReloadIntervalUnit == 'min'"
						data-ng-model="serviceTempObject.configReloadIntervalTemp"
						data-ng-change="onConfigReloadIntervalEdit(serviceTempObject.configReloadIntervalTemp)"
						ng-keyup="onConfigReloadIntervalEdit(serviceTempObject.configReloadIntervalTemp)"></div>

					<div
						numeric="{min:1}"
						class="sc-number-input-sm sc-details-page-common-input sc-inline"
						name="configurationReloadInterval"
						required
						data-ng-show="serviceTempObject.configReloadIntervalUnit == 'hour'"
						data-ng-model="serviceTempObject.configReloadIntervalTemp"
						data-ng-change="onConfigReloadIntervalEdit(serviceTempObject.configReloadIntervalTemp)"
						ng-keyup="onConfigReloadIntervalEdit(serviceTempObject.configReloadIntervalTemp)"></div>


					<div
						class="sc-details-page-editor-data-right-small btn-group btn-block"
						data-uib-dropdown>
						<button
							class="form-control sc-button-common"
							id=""
							type="button"
							data-uib-dropdown-toggle
							ng-disabled="disabled">
							<span class="sc-dropdown-btn-label">{{serviceTempObject.configReloadIntervalUnit + '.label' | translate}}</span>
							<span class="sc-dropdown-btn-expand-icon"></span>
						</button>
						<ul
							class="uib-dropdown-menu sc-dropdown-menu"
							role="menu"
							aria-labelledby="">
							<li
								role="menuitem"
								data-ng-click="changeConfigReloadIntervalUnit('min', serviceTempObject.configReloadIntervalTemp)"
								class="sc-clickable-dropdown">{{'min.label' | translate}}</li>
							<li
								role="menuitem"
								data-ng-click="changeConfigReloadIntervalUnit('hour', serviceTempObject.configReloadIntervalTemp)"
								class="sc-clickable-dropdown">{{'hour.label' | translate}}</li>
						</ul>
					</div>

					<div
						class="sc-validation-block"
						ng-messages="serviceDetailsForm.configurationReloadInterval.$error"
						ng-if="serviceDetailsForm.configurationReloadInterval.$touched">
						<p ng-message="required">{{"service.editor.reload.interval.validation.required" | translate}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>