
<div data-ng-if="!detailsFound" class="sc-empty-resource-list-box">
	<p style="text-align: center">{{'service.details.not.found' |
		translate}}</p>
</div>
<div data-http-loader class="sc-data-loading">
	<p style="text-align: center" class= "sc-vertical-middle-div">{{'data.loading' | translate}}</p>
</div>
<div class="sc-resource" data-ng-if="detailsFound" style="height: 100%">
	<form id="serviceDetailsForm"
		class="sc-layout-full-height ng-pristine ng-valid ng-valid-required ng-vaid-maxlength"
		novalidate="" name="serviceDetailsForm">
		<div class="no-margin sc-details-page-title-panel">
			<div class="sc-details-page-back-btn-div ">
				<button class="sc-details-page-back-btn btn btn-default"
					type="button" data-ng-click="backToServiceList(serviceDetailsForm)">
					<i class="fa fa-arrow-left" data-ng-class=""> </i>
				</button>
			</div>
			<div class="sc-details-page-title">
				<div class="sc-vertical-middle-div">
					<p class="sc-details-page-edit-text">{{"edit.label" |
						translate}}</p>
					<p class="sc-details-page-edit-subject">{{service.name}}</p>
				</div>
			</div>

			<div class="sc-details-page-btn-div">
				<a class="btn btn-default sc-details-page-discard-btn"
					data-ng-click="discardServiceChanges(serviceDetailsForm)">{{"button.discard"
					| translate}} </a> <a class="btn btn-default sc-btn-save-page"
					data-ng-click="saveServiceChanges(serviceDetailsForm)">{{"button.save"
					| translate}} </a>
			</div>
			<div class="clear"></div>


		</div>
		<div class="sc-details-page-bottom-panel"
			data-ng-include="'ui/app/SCServices/partials/' + serviceType + 'Template.html'"></div>
	</form>
</div>
